#show-game {
  display: flex;
  width: 70%;
  height: 150px;
  margin: 200px auto;
}

#red-note {
  width: 20%;
  height: 100%;
  background-color: red;
  flex-grow: 1;
}
#yellow-note {
  width: 20%;
  height: 100%;
  background-color: yellow;
  flex-grow: 1;

  
}
#blue-note {
  width: 20%;
  height: 100%;
  background-color:blue;
  flex-grow: 1;

}
#green-note {
  width: 20%;
  height: 100%;
  background-color:green;
  flex-grow: 1;
}

.active {
  opacity: 0.5;
}

#start-game {
  display: flex;
  width: 35%;
  height: 200px;
  text-align: center;
  margin: 200px auto;
  background-color: black;
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}


h1 {
  text-align: center;
 
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 4em; 
  
}